<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanmingchen.distributed.transaction.demo.stock.mapper.TxStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yanmingchen.distributed.transaction.demo.entity.stock.TxStock">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="selled_count" property="selledCount" />
        <result column="remain_count" property="remainCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, selled_count, remain_count
    </sql>

</mapper>
